Repository ECS153/final-project-lxrn, pull requests merged in 2020-05, with the labels that each got.

#16 Initialize server
  server/.glitch-assets
  server/package.json
  server/server.js
  server/shrinkwrap.yaml
Labels: server

#19 register filled out
  server/server.js
Labels: READY_TO_MERGE, server

#20 send & adjust db
  server/server.js
Labels: READY_TO_MERGE, server

#21 receive filled out
  server/server.js
Labels: READY_TO_MERGE, server

#22 fill out delete
  server/server.js
Labels: READY_TO_MERGE, server

#23 fill out logout
  server/server.js
Labels: READY_TO_MERGE, server

#18 Merging client_account branch to master.
  client/js/client.js
Labels: READY_TO_MERGE, client

#27 More encryption on server
  server/server.js
Labels: READY_TO_MERGE, server

#30 Support client to client encryption
  README.md
  screenshot/getUserKey-example.jpg
  screenshot/register-example.jpg
  server/server.js
Labels: READY_TO_MERGE, server
